[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = ">=5.4.2"
colored = ">=1.3.93"
RXPY = ">=0.1.0"
Pillow = ">=4.3.0"
pandas = "*"
beautifulsoup4 = "*"
wxpython = "*"

[dev-packages]

[requires]
python_version = "3.8"
